@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* --background: 39 61% 63% */
  --background: white;
  --foreground: 0 0% 100%;
  --highlight: rgba()
}
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}


.navbar-container {
  background-color: #ffffff00;
  color: #000000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-large, .logo-small {
  display: none;
}

.logo-large-img, .logo-small-img {
  height: 40px;
}

.menu-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


.menu-item {
  margin: 0 1rem;
}

.menu-link {
  
  padding: 0.7rem 1rem 0.7rem 1rem;
  border: 0.1px solid transparent;
  /* color: wheat; */
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 10rem;
}
.menu-link:hover{
  border: 0.1px solid #f2ece280;
  transition: border-color 0.4s;
}


.menu-link-about {
  padding: 0.7rem;
  border: 0.1px solid #f2ece280;
  /* color: wheat; */
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 10rem;
}

.menu-link-about:hover{
  background-color: #ffff;
  color: #000000;
  transition: color 0.4s, background-color 0.4s, border-color .4s;
}

.menu-link.active {
  font-weight: bold;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.button {
  background-color: rgba(245, 222, 179, 0.364);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 100px;
}

.bg-neutral-950 {
  background-color: #f2ece280;
}

.bg-neutral-700 {
  background-color: #130c06c7;
}

.button.logout {
  background-color: #dc3545;
}

.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .logo-large {
    display: none;
  }

  .logo-small {
    display: block;
  }

  .menu-items {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem 0;
  }

  .menu-items.show {
    display: flex;
  }

  .menu-item {
    margin: 0.5rem 0;
    text-align: center;
  }

  .mobile-menu-button {
    display: block;
  }
}

.burg-icon {
  --thickness: 1px;
  --gap: 4px;
  --rotate: 45;
  --width: 100%;
}
.w--open .menu-btn-line {
  transform: scaleX(0);
}
.w--open .menu-btn-line:first-child {
  transform: translateY(calc(var(--thickness) + var(--gap))) rotate(calc(var(--rotate) * 3 * 1deg));
}
.w--open .menu-btn-line:last-child {
  transform: translateY(calc(var(--thickness) * -1 + var(--gap) * -1)) rotate(calc(var(--rotate) * 1deg));
}